.cards-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.card-link {
  text-decoration: none;
  color: black;
}

.card {
  height: auto;
  display: flex;
  border-radius: 10px;
  margin: 16px;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(49, 53, 59, 0.12) 0px 1px 6px 0px;
  border-radius: 12px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  padding: 16px;
  max-width: 192px;
  overflow: hidden;
}

.card-container:hover {
  border-radius: 12px;
  transform: matrix(1, 0, 0, 1, 0, 2);
  transition: 250ms ease;
}

.card-img {
  height: 160px;
}

.card-title {
  font-weight: bold;
  margin-top: 16px;
  text-transform: capitalize;
  width: -webkit-fill-available;
  text-overflow: ellipsis;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.card-owned-text {
  margin-top: 8px;
  padding: 8px;
  border-radius: 1rem;
  background-color: #ffcb05;
  color: #806600;
  font-size: 0.8rem;
  font-weight: bold;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  cursor: pointer;
  border: 0;
  border-radius: 10px;
  margin: 16px;
  padding: 16px;
  font-weight: bold;
  background-color: #ffcb05;
  box-shadow: rgba(49, 53, 59, 0.12) 0px 1px 6px 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.button:hover {
  transform: matrix(1, 0, 0, 1, 0, 2);
  transition: 250ms ease;
}

.card-button-img {
  height: 4vmin;
}

.card-button-text {
  margin: 8px;
  font-size: 0.6rem;
  font-weight: bold;
}

@media screen and (max-width: 960px) {
  .card {
    height: auto;
    border-radius: 10px;
    margin: 4px;
  }

  .button {
    padding: 8px;
    margin: 8px;
  }

  .card-button-text {
    margin: 4px;
  }

  .card-container {
    padding: 8px;
    max-width: 96px;
  }

  .card-title {
    font-size: 0.8rem;
  }

  .card-owned-text {
    font-size: 0.5rem;
  }

  .card-img {
    height: 80px;
  }
}
