.action-pokemon-container {
    display: flex;
    flex-direction: column;
}

.action-pokemon-image-container {
    display: flex;
    justify-content: center;
}

.action-pokemon-image {
    height: 50vmin;
}

.action-pokemon-title {
    text-align: center;
    font-weight: bold;
    font-size: 5vmin;
}

.action-pokemon-subtitle {
    text-align: center;
    font-weight: bold;
    font-size: 3vmin;
}

.action-pokemon-button-container {
    margin: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-pokemon-button {
    background-color: #ffcb05;
    box-shadow: rgba(49, 53, 59, 0.12) 0px 1px 6px 0px;
    padding: 16px;
    border-radius: 10px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transition: 250ms ease;
}

.action-pokemon-button:hover {
    transform: matrix(1, 0, 0, 1, 0, 2);
    transition: 250ms ease;
}