* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.container {
  margin: 16px;
}

@media screen and (max-width: 960px) {
  .container {
    margin-bottom: 4rem;
  }
}
